*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
section,
article,
figure,
span,
h2,
p,
a,
img,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
